body{
    margin:0;
}

*{  
    margin: 0%;
    padding: 0%;
    font-family:'Times New Roman', Times, serif; 
  }
  
  /* navbar */
  .top-navbar{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: black;
    font-size: 20px;
    transition: .5s ease-in-out;
  }
  
  .nav-item a {
    font-size: large;
    color: black;
  }
  .navbar-nav {
    margin-left: auto;
    padding-right: 10px;
  }
  
  .navbar-brand img{
    width:230px;
     height:70px;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu{
    border: none;
    /* background: transparent; */
  }
  
#donatebutton{
    background-color: rgb(15, 179, 15);width: fit-content; color: honeydew;border-radius: 10px;
  }
  #donatebutton:hover{
      /* background-color: #7bdb7b; */
      box-shadow:0px 10px 10px #0f9c0f;
  }
.blog {
    
    font-family: 'Eczar', serif;
    margin: 0;
    padding:0%;
}

.one {
    background-image: url('blog-img-2.jpg');
    width: auto;
    height:600px;
    padding: -11%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 33%;
}

.two {
    padding: 21%;
    padding-top: 0%;
    padding-bottom: 1%;;

}

.blog .two h2 {
    font-size: 1.9rem;
    font-weight: 600;
    font-family: 'Yatra One', cursive;
    padding-top:4%;
}

.blog .two p{
    font-size: 1.5rem;
    font-family: 'Karma', serif;
}


@media(min-width:460px) and (max-width:770px){
    .one{
        width:auto;
        height: 300px;
    }
    .two{
        padding:0%;
    }
}

@media(min-width:315px) and (max-width:460px){
    .one{
        width:auto;
        height:200px;
    }
    .two{
        padding:0%;
    }
}

@media(min-width:200px) and (max-width:315px){
    .one{
        width:auto;
        height: 150px;
    }
    .two{
        padding:0%;
    }
}

@media(min-width:770px) and (max-width:870px){
    .one{
        width:auto;
        height:400px;
    }
    .two{
        padding:0%;
    }
}

@media(min-width:870px) and (max-width:1000px){
    .one{
        width:auto;
        height:450px;
    }
    .two{
        padding:0%;
    }
}

@media(min-width:1000px) and (max-width:1300px){
    .one{
        width:auto;
        height:600px;
    }
    .two{
        padding:0%;
    }
}
.navbar-brand img{
    width:230px;
     height:70px;
  }

  

    /* Subscribe */

    .subscribe{
        text-align: center;
        padding: 20px;
      }
      .subscribebtn:hover{
        background-color:#0f9c0f;
        border: none;
      }
      
      .subscribebtn{
        background-color:#086908;
        color: white;
        border: none;
      }
      .inptfld{
        border-radius: 20px;
        padding: 5px;
        width: 20%;
      
      }
       .subscribebtn{
        border-radius: 20px;
        border: none;
        padding: 5px;
      }
    
    /* footer */
              .footer #socialicon a {
                text-decoration: none;
              }
              
              .footer a{
                text-decoration: none;
              }
              .footer #socialicon .text-white{
                margin-right:0.5rem ;
              } 
            
              
              .footer #socialicon i{
                text-align: left;
                font-size: large;
              }

 